@model ResetPasswordViewModel 
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All"></div>
<div class="main-agileinfo">   
	<div class="agileits-top">
		<form asp-action="ResetPassword">
		@* 	<input type="hidden" name="Email" value="@ViewData["Email"]" />
			<input type="hidden" name="Token" value="@ViewData["Token"]" /> *@
			<input class="text" asp-for="NewPassword " placeholder="New Password" required="">
			<span asp-validation-for="NewPassword " class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword " placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword " class="text-danger"></span>
			<input type="submit" value="Sumbit">

			
		</form>

	</div>
</div>


@section ValidationSection {
	<partial name="_ValidationScriptsPartial" />
}